@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
}
* {
    /*Reset's every elements apperance*/
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    box-sizing: border-box;
    border-spacing: 0;
    font-weight: normal;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    font-family: 'Open Sans', sans-serif;
    }

h1, h2, h3{
    width: fit-content;
    background: linear-gradient(90deg, #34398D 0%, #E04D38 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 500;
    margin-bottom: 20px;
}

h1{
    font-size: 2rem;
    width: 100%;
}

h2{
    font-size: 1.5rem;
}

h3{
    font-size: 1.2rem;
}

a{
    color: #34398D;
}

.btn {
    background: #34398d;
    opacity: 0.9;
    border-radius: 20px;
    padding: 10px 25px;
    color: #fff;
    cursor: pointer;
}

.btn:hover {
    background: #34398d;
    opacity: 1;
}

.errorBox{
    color: red;
    margin: 5px 0;
    height: 20px;
  }